<%= link_to "Add Location", new_admin_location_path %>

<h1>PerfSurf Destinations</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= location.name %></li>
    <li><%= location.msw_id %></li>
    <%= link_to "Delete Location", admin_location_path(location), :method => :delete %>
    <%= link_to "Edit Location", edit_admin_location_path(location) %>
  <% end %>
</ul>