<% @stats.each do |key, value| %>
  <li><%= key %></li>
  <% @stats[key].each do |times_arr| %>
      <% times_arr.each do |key, time| %>
        <li><%= key %></li>
        <li>Swell Object <%= time[:swell] %></li>
        <li>Swell Components <%= time[:swell]["components"]%></li>
        <li>Wave Height: <%= time[:swell]["components"]["primary"]["height"] %></li>
        <li>Wind Object<%= time[:wind] %></li>
        <li>Wind Strength: <%= time[:wind]["speed"] %></li>
        <li>Wind Direction: <%= time[:wind]["direction"] %></li>
        <li>Charts Object<%= time[:charts] %></li>

      <% end %>
  <% end %>
<% end %>