<div id="location-header">
  <div id="location" data-location-id="<%= @location.id %>" ></div>
</div>

<% if @user.locations.include?(@location) %>
  <form id="delete-favorite-form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input id="favoriteId" type="hidden" name="favorite_id" value="<%= Favorite.where(user_id: session[:user_id]).where(location_id: @location.id).first.id %>" />
  <button id="button" class="btn btn-primary btn-lg">Delete Favorite</button>
  </form>
<% else %>
  <form id="add-favorite-form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input id="userId" type="hidden" name="user_id" value="<%= session[:user_id] %>" />
  <input id="locationId" type="hidden" name="location_id" value="<%= @location.id %>" />
  <button id="button" class="btn btn-primary btn-lg">Add Favorite</button>
  </form>
<% end %>

<% @stats.each do |key, value| %>
<div id="<%= key %>" class="stats-placeholder">
  <div class="pointless-div">
    <h3 class="day-stats"><%= key %></h3>
    <ul class="time-related-stats-placeholder">
    <% @stats[key].each do |times_arr| %>
        <% times_arr.each do |key, time| %>
        <div class="time-related-stats">
          <li><%= key %></li>
          <li class="stats surf-height"><%= time[:swell]["components"]["primary"]["height"] %>
            <div class="surf-height-display"></div>
          </li>
          <li class="stats wind-speed"><%= time[:wind]["speed"] %></li>
          <li class="stats wind-direction"><%= time[:wind]["direction"] %><img src="http://pythonhosted.org/sphinxjp.themes.revealjs/_images/arrow.png" alt="arrow"></%></li>
        </div>
        <% end %>
    <% end %>
  </ul>
</div>
</div>
<% end %>
<br style="clear:both;">

<div id="charts">
  <h3></h3>
  <p></p>
  <li class="chart-placeholder">Waves<img src="" alt="" id="wave-chart"></li>
  <li class="chart-placeholder">Wind<img src="" alt="" id="wind-chart"></li>
</div>

<script>


var chartArray = <%= raw @chart_array %>;

$(window).load(function(){
  var locationId = $("#location").data("location-id");
  // Use AJAX to get the rest of the info from the database
  getPerfSurfLocation(locationId, loadLocation);
  // Make column in wind stats
  var div = $('<div>').addClass("time-related-stats");
  var liTime = $('<li>').text('Time');
  var liWave = $('<li>').addClass('stats title').text('Wave Height');
  var liWind = $('<li>').addClass('stats title').text('Wind Speed');
  var liWindDir = $('<li>').addClass('stats title').text('Wind Direction');
  var liArr = [liTime, liWave, liWind, liWindDir];
  $.each(liArr, function(key, value){
    div.append(value);
  })
  $('.time-related-stats-placeholder').prepend(div);

  // Rotate Arrows for Wind Direction
  var directions = $('li.wind-direction');
  $.each( directions, function(i,el) {
    $(el).find("img").css("-webkit-transform", "rotate(" + ( parseInt($(el).text()) + 180 )+ "deg)");
  });

  // Color wind boxes
  var windLi = $('.wind-speed');
  $.each(windLi, function(k, el){
  var li = $(el);
   li.css("background-color", "hsla(" + (100-(li.text()*4)) + ", 100%, 50%, 1)");
  });

  // Surf Height Color Boxes
  var surfDiv = $('div.surf-height-display');
  $.each(surfDiv, function(k, el){
  var div = $(el);
   div.css({"height": (parseInt(div.parent().text())*6) +"%", zIndex: "-1"});
   div.css("background-color", "hsla(" + (100-((div.parent()).text()*6)) + ", 100%, 50%, .6)");
  });

  // Display Charts

  $('#charts h3').text(chartArray[0][0]);
  $('#charts p').text(chartArray[0][1]);
  $('#charts img#wave-chart').attr('src', chartArray[0][2]);
  $('#charts img#wind-chart').attr('src', chartArray[0][3]);
  

  function chartCallback(counter){
    if (counter < chartArray.length) {
      console.log(counter);
      console.log(chartArray[counter]);
      console.log(chartArray[counter][0]);
      
      $('#charts h3').text(chartArray[counter][0]);
      $('#charts p').text(chartArray[counter][1]);
      $('#charts img#wave-chart').attr('src', chartArray[counter][2]);
      $('#charts img#wind-chart').attr('src', chartArray[counter][3]);

      counter++;
      setTimeout(function(){chartCallback(counter)}, 300);
    }
  } 

  $('img#wave-chart, img#wind-chart').css("cursor", "pointer");

  $('#charts').click(function(){
    chartCallback(1);
  }); 

  
    


});

</script>




