<div id="wrapper">
  <h1 id="name"><%= @location.name %></h1>
  <h3 id="latitude"><%= @location.latitude %></h3>
  <h3 id="longitude"><%= @location.longitude %></h3>
</div>
<!-- create vars for lats and longs and then plug those in 
var latit = @location.latitude
var longo = @location.longitude -->

<div id="wave-info">

</div>

<form id="favorite-form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input id="userId" type="hidden" name="user_id" value="<%= session[:user_id] %>" >
  <input id="locationId" type="hidden" name="location_id" value="<%= @location.id %>" >
  <button>Favorite</button>
</form>

<script>


window.onload = function(){
  getPerfSurfLocation($('#location').data('lid'), loadInstagramPics);
}

</script>