<div id="location" data-location-id="<%= @location.id %>" ></div>

<h1>Location Magic Seaweed ID: <%= @location.msw_id %></h1>

<% if @user.locations.include?(@location) %>
<h2><%= "One of your faves already!" %></h2>
<% else %>
<form id="favorite-form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input id="userId" type="hidden" name="user_id" value="<%= session[:user_id] %>" />
  <input id="locationId" type="hidden" name="location_id" value="<%= @location.id %>" />
  <button>Favorite</button>
</form>
<% end %>

<% @stats.each do |key, value| %>
<div id="<%= key %>" class="stats-placeholder">
  <h3 class="day-stats"><%= key %></h3>
  <ul class="time-related-stats-placeholder">
  <% @stats[key].each do |times_arr| %>
      <% times_arr.each do |key, time| %>
      <div class="time-related-stats">
        <li><%= key %></li>
        <li class="stats surf-height"><%= time[:swell]["components"]["primary"]["height"] %></li>
        <li class="stats wind-speed"><%= time[:wind]["speed"] %></li>
        <li class="stats wind-direction"><%= time[:wind]["direction"] %><img src="http://pythonhosted.org/sphinxjp.themes.revealjs/_images/arrow.png" alt="arrow"></%></li>
      </div>
      <% end %>
  <% end %>
</ul>
</div>
<% end %>

<script>
$(window).load(function(){
  var locationId = $("#location").data("location-id");
  // Use AJAX to get the rest of the info from the database
  getPerfSurfLocation(locationId, loadLocation);
  // Make column in wind stats
  var div = $('<div>').addClass("time-related-stats");
  var liTime = $('<li>').text('Time');
  var liWave = $('<li>').addClass('stats title').text('Wave Height');
  var liWind = $('<li>').addClass('stats title').text('Wind Speed');
  var liWindDir = $('<li>').addClass('stats title').text('Wind Direction');
  var liArr = [liTime, liWave, liWind, liWindDir];
  $.each(liArr, function(key, value){
    div.append(value);
  })
  $('.time-related-stats-placeholder').prepend(div);

  // Rotate Arrows for Wind Direction
  var directions = $('li.wind-direction');
  $.each( directions, function(i,el) {
    $(el).find("img").css("-webkit-transform", "rotate(" + $(el).text() + "deg)");
  });

});

</script>




