<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/users/new">PerfSurf</a>
  </div>

<% if admin? %>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><a href="">Welcome Admin!</a></li>
        <li><%= link_to "Logout", session_path, :method => :delete %></li>
        <li><%= link_to "myAcct", current_user %></li>
        <% else %>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<% else %>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "Logout", session_path, :method => :delete %></li>
        <li><%= link_to "myAcct", current_user %></li>
        <% else %>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<% end %>