<!DOCTYPE html>
<html>
<head>
  <title>Perfsurf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <%= render 'layouts/header' %>
        <div class="container">
        <%= yield %>
        <div class="push"></div>
        </div>
        <div class="footer">
          <p>Copyright blah blah blah</p>
        </div>
</body>
</html>